@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  @apply duration-300 transition-colors;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

@layer base {
  body {
    @apply min-w-screen-min text-white;
  }

  [theme='teal'] {
    --primary-color: #00c9e3;
    --secondary-color: #0193a7;
    --tertiary-color: #005864;
  }

  [theme='orange'] {
    --primary-color: #ff6e00;
    --secondary-color: #b36500;
    --tertiary-color: #783f13;
  }

  [theme='green'] {
    --primary-color: #00c64f;
    --secondary-color: #019b70;
    --tertiary-color: #015d43;
  }

  [theme='blue'] {
    --primary-color: #2a86f6;
    --secondary-color: #0357bd;
    --tertiary-color: #013a81;
  }

  [theme='red'] {
    --primary-color: #ff0000;
    --secondary-color: #c00808;
    --tertiary-color: #6e0101;
  }

  [theme='yellow'] {
    --primary-color: #cdbb00;
    --secondary-color: #aa9002;
    --tertiary-color: #575201;
  }

  [theme='purple'] {
    --primary-color: #c900fb;
    --secondary-color: #a113ac;
    --tertiary-color: #62027a;
  }

  [theme='gray'] {
    --primary-color: #818181;
    --secondary-color: #545454;
    --tertiary-color: #3a3a3a;
  }

  *:focus {
    @apply outline-primary;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: white;
  }

  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

@layer components {
  .label {
    letter-spacing: 0.2em;

    @apply font-semibold text-sm uppercase text-primary;
  }

  .wave {
    animation: wave 1s linear infinite;
    background: linear-gradient(45deg, #333, #fff);
    margin: 10px;
    height: 100px;
    width: 5px;

    @apply m-2.5 rounded-lg;
  }

  @media (min-width: 768px) {
    .job-timeline-grid {
      grid-template-columns: 141.5px 1fr;

      @apply grid;
    }
  }

  @media (min-width: 1024px) {
    .job-timeline-grid {
      grid-template-columns: 157.5px 1fr;

      @apply grid;
    }
  }

  @media (min-width: 1280px) {
    .job-timeline-grid {
      grid-template-columns: 173.5px 1fr;
    }
  }
}

@layer utilities {
  body {
    background-color: #000;

    @apply font-quicksand;
  }

  .container-margin {
    @apply mb-10 md:mb-16 lg:mb-20 xl:mb-32; /* Margin */
  }

  .container-styles {
    @apply px-5 md:px-10 xl:px-20 max:mx-auto; /* Margin & Padding */
    @apply max:max-w-container-max min-w-screen-min relative z-20;
  }

  .block-container {
    @apply container-margin;
    @apply block container-styles;
  }

  .block-container-no-margin {
    @apply block container-styles;
  }

  .flex-container {
    @apply container-margin;
    @apply flex container-styles;
  }

  .flex-container-no-margin {
    @apply flex container-styles;
  }

  .grid-container-styles {
    @apply grid grid-cols-4 md:grid-cols-12 relative; /* Grid */
    @apply gap-x-5 md:gap-x-3 lg:gap-x-5; /* Columns Gap */
  }

  .grid-container {
    @apply container-margin;
    @apply container-styles;
    @apply grid-container-styles;
  }

  .grid-container-no-margin {
    @apply container-styles;
    @apply grid-container-styles;
  }

  .two-color {
    @apply text-white;
    @apply [&_b]:font-normal [&_strong]:font-normal [&_b]:text-primary [&_strong]:text-primary;
  }

  .two-color-bold {
    @apply font-bold two-color;
    @apply [&_b]:font-bold [&_strong]:font-bold;
  }

  .odometer.odometer-auto-theme .odometer-digit,
  .odometer.odometer-theme-default .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .odometer.odometer-theme-default .odometer-digit {
    height: 100%;
    display: inline-block;
  }

  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
  .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    visibility: hidden;
  }

  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
  .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
  .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
    display: block;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
  .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
    display: block;
    backface-visibility: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-value,
  .odometer.odometer-theme-default .odometer-digit .odometer-value {
    display: block;
    transform: translateZ(0);
  }
  .odometer.odometer-auto-theme
    .odometer-digit
    .odometer-value.odometer-last-value,
  .odometer.odometer-theme-default
    .odometer-digit
    .odometer-value.odometer-last-value {
    position: absolute;
  }
  .odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-up
    .odometer-ribbon-inner {
    transition: transform 1s;
  }
  .odometer.odometer-auto-theme.odometer-animating-up.odometer-animating
    .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-up.odometer-animating
    .odometer-ribbon-inner {
    transform: translateY(-100%);
  }
  .odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-down
    .odometer-ribbon-inner {
    transform: translateY(-100%);
  }
  .odometer.odometer-auto-theme.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner {
    transition: transform 1s;
    transform: translateY(0);
  }

  .odometer.odometer-auto-theme .odometer-value,
  .odometer.odometer-theme-default .odometer-value {
    text-align: center;
    width: 100%;
  }

  .odometer > *,
  .odometer > * > * {
    align-items: flex-start;
    display: flex;
  }
}
