@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @apply text-white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer base {
  body {
    @apply min-w-screen-min text-white;
  }

  *:focus {
    @apply outline-primary;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: white;
  }

  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

@layer components {
  .label {
    @apply font-semibold text-sm uppercase text-primary;
    letter-spacing: 0.2em;
  }

  .wave {
    animation: wave 1s linear infinite;
    background: linear-gradient(45deg, #00c9e3, #fff);
    margin: 10px;
    height: 100px;
    width: 5px;

    @apply m-2.5 rounded-lg;
  }

  @media (min-width: 768px) {
    .job-timeline-grid {
      @apply grid;
      grid-template-columns: 141.5px 1fr;
    }
  }

  @media (min-width: 1024px) {
    .job-timeline-grid {
      @apply grid;
      grid-template-columns: 157.5px 1fr;
    }
  }

  @media (min-width: 1280px) {
    .job-timeline-grid {
      grid-template-columns: 173.5px 1fr;
    }
  }
}

@layer utilities {
  body {
    background-color: #000;
    @apply font-quicksand;
  }

  .block-container {
    @apply block max:max-w-container-max;
    @apply px-5 md:px-10 lg:px-20 max:mx-auto; /* Margin & Padding */
  }

  .flex-container {
    @apply flex max:max-w-container-max;
    @apply px-5 md:px-10 lg:px-20 max:mx-auto; /* Margin & Padding */
  }

  .grid-container {
    @apply grid grid-cols-4 md:grid-cols-12; /* Grid */
    @apply gap-x-5 md:gap-x-3 lg:gap-x-5; /* Columns Gap */
    @apply px-5 md:px-10 mb-10 md:mb-16 lg:mb-20 xl:mb-32 xl:px-20 max:mx-auto; /* Margin & Padding */
    @apply max:max-w-container-max min-w-screen-min; /* Width */
  }

  .grid-container-no-margin {
    @apply grid grid-cols-4 md:grid-cols-12; /* Grid */
    @apply gap-x-5 md:gap-x-3 lg:gap-x-5; /* Columns Gap */
    @apply px-5 md:px-10 xl:px-20 max:mx-auto; /* Margin & Padding */
    @apply max:max-w-container-max min-w-screen-min; /* Width */
  }

  .hero-gradient {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .two-color {
    @apply text-white;
    @apply [&_b]:font-normal [&_strong]:font-normal [&_b]:text-primary [&_strong]:text-primary;
  }

  .two-color-bold {
    @apply font-bold two-color;
    @apply [&_b]:font-bold [&_strong]:font-bold;
  }

  .odometer.odometer-auto-theme .odometer-digit,
  .odometer.odometer-theme-default .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  .odometer.odometer-theme-default .odometer-digit {
    height: 100%;
    display: inline-block;
  }

  .odometer.odometer-auto-theme .odometer-digit,
  .odometer.odometer-theme-default .odometer-digit {
    display: inline-block;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
  .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    visibility: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
  .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
    display: inline;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
  .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
  .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
    display: block;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
  .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
    display: block;
    backface-visibility: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-value,
  .odometer.odometer-theme-default .odometer-digit .odometer-value {
    display: block;
    transform: translateZ(0);
  }
  .odometer.odometer-auto-theme
    .odometer-digit
    .odometer-value.odometer-last-value,
  .odometer.odometer-theme-default
    .odometer-digit
    .odometer-value.odometer-last-value {
    position: absolute;
  }
  .odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-up
    .odometer-ribbon-inner {
    transition: transform 1s;
  }
  .odometer.odometer-auto-theme.odometer-animating-up.odometer-animating
    .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-up.odometer-animating
    .odometer-ribbon-inner {
    transform: translateY(-100%);
  }
  .odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-down
    .odometer-ribbon-inner {
    transform: translateY(-100%);
  }
  .odometer.odometer-auto-theme.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner,
  .odometer.odometer-theme-default.odometer-animating-down.odometer-animating
    .odometer-ribbon-inner {
    transition: transform 1s;
    transform: translateY(0);
  }

  .odometer.odometer-auto-theme .odometer-value,
  .odometer.odometer-theme-default .odometer-value {
    text-align: center;
    width: 100%;
  }

  .odometer > *,
  .odometer > * > * {
    align-items: flex-start;
    display: flex;
  }
}
