@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer utilities {
  body {
    @apply font-qs-400;
  }

  .container {
    @apply grid grid-cols-4 md:grid-cols-12; /* Grid */
    @apply gap-x-2.5 md:gap-x-3 lg:gap-x-5; /* Columns Gap */
    @apply mx-5 md:mx-10 lg:mx-20 max:mx-auto; /* Margin */
    @apply w-full max:max-w-container-max; /* Width */
  }

  .two-color {
    @apply text-light;
    @apply [&_b,&_strong]:font-normal [&_b,&_strong]:text-primary;
  }
}
